<div class="container-fluid container-fluid-custom">
<h1 class="head">About Us</h1>
<div class="aboutnotify">
    <div class="about">
        <p>Welcome to our notify! We are dedicated to providing you with a powerful and user-friendly platform to organize and manage your notes effectively. Our app is designed to enhance your productivity, creativity, and organization in both your personal and professional life.<br></p>
         <br>
         <p>At its core, our note app is built on the foundation of simplicity and versatility. We understand that capturing ideas, thoughts, and important information should be effortless, which is why we have streamlined the note-taking process to make it as intuitive as possible. Whether you're jotting down a quick reminder, drafting a comprehensive project plan, or recording your daily journal entries, our app offers a seamless experience for all your note-taking needs. </p>
        
    </div>  
</div>
<br>
<br>
<h1 class="head">Our Team</h1>
<section>
    <div class="containers">
        <div class="cards">
            <div class="content">
                <!-- <div class="imgbx"><img src="/public/img/notify.png"></div> -->
                     <div class="contentbx">
                        <h3>Debashis Roy<br><span>Backend Developer</span></h3>
                     </div>
            </div>
            <ul class="sci">
                <li style="--i:1">
                    <a href="https://www.facebook.com/profile.php?id=100041272389355"><img width="30" height="30" src="https://img.icons8.com/fluency/30/facebook-new.png" alt="facebook-new"/></a>
                </li>
                <li style="--i:2">
                    <a href="https://instagram.com/debashis.royy?igshid=MzRlODBiNWFlZA=="><img width="30" height="30" src="https://img.icons8.com/fluency/30/instagram-new.png" alt="instagram-new"/></a>
                </li>
                <li style="--i:3">
                    <a href="#"><img width="30" height="30" src="https://img.icons8.com/glyph-neue/30/github.png" alt="github"/></a>
                </li>
            </ul>
        </div>

        <div class="cards">
            <div class="content">
                <!-- <div class="imgbx"><img src="/public/img/notify.png"></div> -->
                     <div class="contentbx">
                        <h3>Yasmina Khatun<br><span>UI/Ux designer</span></h3>
                     </div>
            </div>
            <ul class="sci">
                <li style="--i:1">
                    <a href="#"><img width="30" height="30" src="https://img.icons8.com/fluency/30/facebook-new.png" alt="facebook-new"/></a>
                </li>
                <li style="--i:2">
                    <a href="https://instagram.com/___yas_mean___?igshid=MzRlODBiNWFlZA=="><img width="30" height="30" src="https://img.icons8.com/fluency/30/instagram-new.png" alt="instagram-new"/></a>
                </li>
                <li style="--i:3">
                    <a href="#"><img width="30" height="30" src="https://img.icons8.com/glyph-neue/30/github.png" alt="github"/></a>
                </li>
            </ul>
        </div>

        <div class="cards">
            <div class="content">
                <!-- <div class="imgbx"><img src="/public/img/notify.png"></div> -->
                     <div class="contentbx">
                        <h3>Sayan Roy Gupta<br><span>Frontend dveloper</span></h3>
                     </div>
            </div>
            <ul class="sci">
                <li style="--i:1">
                    <a href="https://www.facebook.com/sayan.roygupta.7"><img width="30" height="30" src="https://img.icons8.com/fluency/30/facebook-new.png" alt="facebook-new"/></a>
                </li>
                <li style="--i:2">
                    <a href="https://instagram.com/sayan_roy_2002?igshid=MzNlNGNkZWQ4Mg=="><img width="30" height="30" src="https://img.icons8.com/fluency/30/instagram-new.png" alt="instagram-new"/></a>
                </li>
                <li style="--i:3">
                    <a href="https://github.com/MattxSRg"><img width="30" height="30" src="https://img.icons8.com/glyph-neue/30/github.png" alt="github"/></a>
                </li>
            </ul>
        </div>
            
    </div>
</section>
</div>