<div class="container-fluid container-fluid-custom">
    <div class="containerss">
        <div class="cardss">
            <div class="contents">
                <!-- <div class="imgbx"><img src="/public/img/notify.png"></div> -->
                     <div class="contentbxs">
                        <h3>Notify Features<br>
                     </div>
            </div>
            <ul class="scis">
                <li style="--i:1">
                    <img width="20" height="20" src="https://img.icons8.com/flat-round/20/star--v1.png" alt="star--v1"/><h5>Make notes easily</h5> 
                </li>
                <li style="--i:2">
                    <img width="20" height="20" src="https://img.icons8.com/flat-round/20/star--v1.png" alt="star--v1"/><h5>Edit your notes</h5>
                </li>
                <li style="--i:3">
                    <img width="20" height="20" src="https://img.icons8.com/flat-round/20/star--v1.png" alt="star--v1"/><h5>Delete your notes</h5>
                </li>
            </ul> 
        </div>
    </div>
</div>